.Weddings__top {
  margin-top: 30px;
}

.Top__title {
  text-align: center;
}

hr {
  height: 1px;
  width: 65%;
  background-color: #7a8f99;
}

.boda__item--imageWrapper {
  align-self: center;
  text-align: center;
}

.boda__item--image {
  width: 90%;
  object-fit: cover;
  position: relative;
}

.dcto-boda {
  display: block;
}

.dcto {
  display: none;
}

@media only screen and (min-width: 540px) {
  .dcto {
    position: absolute;
    padding: 25px 15px 10px 15px;
    left: 50px;
    background: #fff;
    font-weight: 800;
    transition: ease 0.5s;
    display: inline-flex;
  }

  .dcto-boda {
    display: none;
  }
}

.dcto:hover {
  padding: 30px 15px 10px 15px;
  background: #efd765;
  color: #fff;
}

.info__title--hr {
  margin: 0 0 15px 0;
  width: 100%;
  background-color: #7a8f99;
}

.boda__item {
  padding: 20px 0;
}

.buttonBuy {
  margin: 10px 0;
  text-align: center;
}

.more {
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.more button {
  color: #fff;
}
